

body{
    padding: 0px;
    margin: 0px;
    background-color: offwhite;
    width: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
    
}

.container{
    width: 100%;
}
    
    

.nav {
    width: auto;
    
    display: flex;
    justify-content: right;
    
    
}

.nav__list{
    width: auto;
    
    display: flex;
    padding: 0;
    
    
}

.nav__list a{
    color: rgb(66, 66, 66);
    text-decoration: none;
    margin-left: 30px;
    font-size: 13px;
    
}

.nav__list li{
    list-style-type: none;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.search-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#search{
    /* border-color: transparent; */
    width: 85%;
    height: 23px;
    border: none;
    outline: none;
}




.search i{
    font-size: 18px;
}


.search{
    font-size: 45px;
    height: 40px;
    border: 0.5px solid  #8c8c8cb9 ;
    border-radius: 40px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

.search:hover{
    box-shadow: 0px 0px 5px 1px #8c8c8cb9;
} 

.logo {
    height: 92px;
    margin-top: 35px;
    margin-bottom: 30px;
}

.language-option{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    
}
.language-option ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 25%;
    padding: 0 !important;
}

.language-option li{
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.language-option a{
    text-decoration: none;
}
.language-option{
    font-size: 13px;
    font-family: sans-serif;
}

.btn__1 a,
.btn__2 a{
    padding: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.767);
    border-radius: 5px;
    background-color: #faf8f8;
    
}




.btn__1 a:hover,
.btn__2 a:hover{
    /* background-color; */
    border: 1px solid #ebebeb ;
}

.footer1{
    
    padding-left: 20px;
    color: gray;
    border-bottom: 1px solid #d4d4d4 ;
    width: auto ;
    
    
}


.footer-bottom{
    display: flex;
    justify-content: space-evenly;
    /*width: 100%;
    background-color: gray;*/
}

.footer2 a:hover,
.footer-bottom a:hover{
    text-decoration: underline;
}

footer{
    width: 100%;
    
    background-color: #f2f2f2;
    margin-top: 160px ;
    padding: 5px;
    margin-bottom: 0px;
    
    
}

.btn{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    
    gap: 1rem;
   
}

li{
    list-style: none;
    
}
a{
    text-decoration: none;
    
}
    
.bottom-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    min-height: 40px;
    color: gray;
    margin-top: 20px;
}

.bottom-footer a{
    color: gray;
    font-size: 15px;
}
.bottom-footer a:hover{
    text-decoration: underline;
}


.left-footer{
    display: flex;
    flex-direction: row;

}
.left-footer a{
    margin-left: 20px;
}

.center-footer{
    display: flex;
    flex-direction: row;
}

.right-footer{
    display: flex;
    flex-direction: row;
}
.right-footer a{
    margin-right: 20px;
}


/* @media (max-width:540px) {
    p, a, li{
        font-size: 8px;

    }
    
    .logo{
        height: 50px;
        margin-top: 15px;
        margin-bottom: 50px;
    }

    
    
    .btn{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        
        gap: 1rem;
    }

    .language-option ul{
        display: flex;
        justify-content: center;
        flex-direction: row;
        
    }
    
    .language-option li{
        list-style-type: none;
        margin-left: 20px;
        margin-top: 30px;
        
    }
    .language-option{
        font-size: 5px;
        font-family: sans-serif;
        
    }

    .footer1{
    
        padding-left: 20px;
        color: gray;
        border-bottom: 1px solid #d4d4d4 ;
        width: auto ;
    }
    .footer1 p{
        font-size: 5px;
    }
    
    .footer-bottom{
        display: flex;
        justify-content: space-evenly;
        /*width: 100%;
        background-color: gray;*/
    /* }
    
    .footer2 a:hover,
    .footer-bottom a:hover{
        text-decoration: underline;
    }
    
    footer{
        width: 100%;
        
        background-color: #f2f2f2;
        margin-top: 330px ;
        padding: 5px;
        margin-bottom: 0px;
        
        
    }

    .bottom-footer{
        display: flex;
        width: 100%;
        justify-content: space-between;
        min-height: 40px;
        color: gray;
        margin-top: 20px;
    }
    
    .bottom-footer a{
        color: gray;
        font-size: 5px;
    }
    .bottom-footer a:hover{
        text-decoration: underline;
    }
    
    
    .left-footer{
        display: flex;
        flex-direction: row;
    
    }
    .left-footer a{
        margin-left: 20px;
    }
    
    .center-footer{
        display: flex;
        flex-direction: row;
    }
    
    .right-footer{
        display: flex;
        flex-direction: row;
    }
    .right-footer a{
        margin-right: 20px;
    }
    
    

    

    
    
} */ */